<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="js/LocalMedia.js"></script>
		<script>
			var selfView;
			var localMedia=new LocalMedia();
			$( document ).ready(function(){
				selfView=document.getElementById("selfView");
				$("#audioSrcLabel").click(function (){
					if ($(this).hasClass("active")) {
						$(this).removeClass("btn-success").addClass("btn-danger");
						$(this).children(".badge").removeClass("badge-success").addClass("badge-danger");
						$(this).children(".badge").text("No");
					} else {
						$(this).removeClass("btn-danger").addClass("btn-success");
						$(this).children(".badge").removeClass("badge-danger").addClass("badge-success");
						$(this).children(".badge").text("Yes");
					}
				});
				$(window).resize(()=>{
					$("html,body").height(window.innertHeight);
				});
				var messageBox=document.getElementById("message");
<%				
				if 	(typeof event!="undefined") {
					switch (event) {
						case "duplicateEmail":%>
							messageBox.innerHTML="The entered email address(i.e. <%=user.email%>) has been used by another user, please use another one.";
							document.getElementById("email").focus();
<%							break;
						case "logoutSuccess":%>
							messageBox.innerHTML="<%=alias%> has logged out successfully.";
<%							break;
					}
				}%>				
			});
			function clearVideo(){
				if (selfView.srcObject!=null) {
					selfView.srcObject.getTracks().forEach((track)=>{
						track.stop();
					});
					selfView.srcObject=null;
				}
			}
			function setupVideo(stream){
				selfView.srcObject=stream;
				stream.getTracks().forEach((track)=> {
					track.onended=(()=>{
						track.stop();
						if (selfView.srcObject!=null)
							selfView.srcObject=null;
					});
				});
			}
			async function updateSrc(){
				var videoSrc=document.getElementById("videoSrc");
				
				localMedia.setLogger(writeLog);
				clearVideo();
				switch ($(videoSrc).val()){
					case "screen":	var stream=await localMedia.getShareDesktopVideo();
									if (stream==null) {
										alert("Fail to get video from share desktop");
									} else {
										setupVideo(stream);
									}
									break;
					
					case "webCam":	var stream=await localMedia.getWebCamVideo();
									if (stream==null) {
										alert("Fail to get video from web cam");
									} else {
										setupVideo(stream);
									}
									break;
				}				
			}
			function writeLog(message){
				console.log(message);
			}
		</script>
		<style>
			video{
				object-fit:cover;
			}
		</style>	
	</head>
	<body class="p-1">
		<form class="p-0" method="post" action="/login">
			<div class="p-0 container-fluid d-flex h-100 flex-column">
				<div class="p-0 row no-gutters">
					<div class="d-flex p-0 col-12 col-sm-12 col-lg-12 col-xl-12 justify-content-center">
						<h3>
						 <%=((typeof roomId=='undefined')?"Create a new":"Join the ")%> meeting
						</h3>
					</div>
				</div>
				<div class="p-1 row h-25 no-gutters">
					<div class="p-0 col-12 col-sm-12 col-lg-12 col-xl-12 position-relative">
						<video id="selfView" class="h-100 w-100 position-absolute" autoplay controls muted>
						</video>
					</div>
				</div>
				<div class="p-0 row no-gutters border border-primary">
					<div class="p-0 col-12 col-sm-12 col-lg-12 col-xl-12 d-flex flex-row justify-content-start">
						Share Media Configuration:
					</div>
					<div class="p-0 col-12 col-sm-12 col-lg-12 col-xl-12 d-flex flex-row align-items-center justify-content-center">
						<div class="btn-group-toggle p-1">
							<label class="btn-sm btn btn-lg btn-success">
								Share 
								<select name="videoSrc" id="videoSrc" class="bg-success text-white" onchange="updateSrc()">
									<option value="no" >No</option>
									<option value="webCam">Web Cam</option>
									<option value="screen">Screen</option>
								</select>
								Video
							</label>
						</div>
						<div class="btn-group-toggle p-1">
							<label class="btn-sm btn btn-lg btn-success">
								Share Audio
								<select name="shareAudio" id="shareAudio" class="bg-success text-white">
									<option value="yes">Yes</option>
									<option value="no" >No</option>
								</select>
							</label>
						</div>
					</div>
				</div>
				<div class="p-1 row no-gutters">
					<div class="d-flex p-0 col-5 col-sm-5 col-lg-5 col-xl-5 justify-content-end">
						Your alias:
					</div>
					<div class="p-0 col-7 col-sm-7 col-lg-7 col-xl-7 position-relative">
						<input type="text" required name="alias" class="w-100 position-absolute">
					</div>
				</div>
				<div class="p-1 row no-gutters">
					<div class="d-flex p-0 col-5 col-sm-5 col-lg-5 col-xl-5 justify-content-end">
						Your email address:
					</div>
					<div class="p-0 col-7 col-sm-7 col-lg-7 col-xl-7 position-relative">
						<input type="email" id="email" required name="email" class="w-100 position-absolute">
					</div>
				</div>
				<div class="p-1 row no-gutters">
					<div class="p-1 col-12 col-sm-12 col-lg-12 col-xl-12 d-flex flex-row justify-content-center">
<% if (typeof roomId=='undefined') {%>											
						<button class="btn-sm btn btn-lg btn-success" name="action" value="createRoom">Create a meeting</button>
<%} else {%>
						<button class="btn-sm btn btn-lg btn-success" name="action" value="joinRoom">Join the meeting</button>
<%}%>					
					</div>
				</div>
				<div class="p-1 row no-gutters">
					<div class="p-1 col-12 col-sm-12 col-lg-12 col-xl-12">
						<div id="message" class="bg-danger text-white">
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" name="roomId" value="<%=((typeof roomId=='undefined')?'':roomId)%>">
		</form>
	</body>
</html>